.contact{
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 0;
    background: #000020B6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >img{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    >div{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (max-width:900px) {
            width: 90%;
            padding: 12px;
        }

        >p{
            font-size: 22px;
            color: #FFF;
        }
        >form{
            width: 100%;
            height: 90vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px;
            box-shadow: 0 10px 30px #242400;
            @media (max-width:900px) {
                width: 85%;
            }
            >div{
                display: flex;
                flex-direction: column;
                gap: 5px;
                >label{
                    font-size: 22px;
                    text-align: start;
                    color: #FFF;
                }
                >input{
                    height: 50px;
                    border: none;
                }
                >textarea{
                    height: 100px;
                    border: none;
                    resize: none;
                }
            }
            >button{
                height: 50px;
                border: none;
                background: #000;
                color: #FFF;
                font-size: 20px;
                font-weight: 400;
            }
        }
    }
}