form{
    width: 47%;
    height: fit-content;
    border-radius: 5px;
    margin: auto;
    padding: 20px 5%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #FFF;
    @media (max-width:900px) {
        width: 90%;
        margin-top: 10px;
    }
    >h2{
        font-size: 13px;
        font-weight: 400;
    }
    >div{
        display: flex;
        gap: 30px;
        width: 100%;
        @media (max-width:900px) {
            flex-direction: column;
        }
        >div{
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            @media (max-width:900px) {
                width: 85%;
            }
            >p{
                color: #FF0000;
                font-size: 9px;
            }
            >div{
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
                @media (max-width:900px) {
                    flex-wrap: wrap;
                }
                >p{
                    color: #FF0000;
                    font-size: 9px;
                }
                >div{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: 100%;
                    >label{
                        font-size: 17px;
                    }
                    >input{
                        width: 100%;
                        padding: 10px;
                    }
                }
            }
            >div.upload{
                flex-direction: column;
            }
        }
    }
    >button{
        background: #000000;
        color: #FFF;
        border-radius: 5px;
        border: none;
        padding: 10px;
    }
}