.form{
  width: 40%;
  height: 110vh;
  background: #FFFFFF67;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 10px 30px #242400;
  @media (max-width:900px) {
    width: 100%;
  }
  >div{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    gap: 10px;
    >label{
      color: #FFF;
      font-size: 21px;
    }
    >input{
      width: 100%;
      height: 50px;
      border: none;
      outline: solid 2px #A5A500;
    }
  }
  >button{
    height: 50px;
    background: #A5A500;
    border: none;
    color: #FFF;
    font-weight: 500;
    font-size: 20px;
  }
}